name: Build OS
on:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt install clang lld llvm grub-efi-amd64-bin mtools

      - name: Build ModulOS
        run: |
          make -j$(nproc) build

      - name: Archive debugging symbols
        uses: actions/upload-artifact@v4
        with:
          name: dbg-symbols
          path: build/modulos-dbg
          retention-days: 2
